.container {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin-left: 250px;
    /* Sidebar width */
    padding: 3.5rem;
    background-color: var(--dashboard-bg);
    transition: background-color 0.3s ease;
}